.navigation-section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-text{
    font-size: 20px;
    font-weight:700;
}

.navigation-list {
    display: flex;
    font-size:18px;
    color:white;
    padding-right:200px;
    padding-top:50px;
}

.navigation-list__item {
    margin: 0 10px;

}

.navigation-link {
    position: relative;
    transition:0.5s;
    color:black;
    padding-left:15px;
}

.navigation-link:hover{
    color:#ff817e;
    transition:0.5s;
}

.navigation{
    padding:0;
    margin:0;
}

li {
    list-style-type: none;
}

.navigation-section{
    padding: 0 0 0 60px;
}

@media (max-width: 1000px){
    .navigation-section-content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .navigation {
        width: 100%;
    }

    .navigation-list {
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
    }
    .navigation-list__item {
        width: 100%;
        margin-top: 30px;
    }

    .navigation-list {
        padding-top:0;
        padding-right:0;
    }
}

