.video-section{
    background-color: #e5ccc6;
    padding:50px 0;

}

.video-header{
    line-height:1.3;
    text-align:center;

}

.video-icon{
    color:black;
}

@media(max-width:991px){
    .video-background {
        background-color: #e5ccc6;
        width: 100%;
        display: inline-block;
        padding-top:0;
        padding-bottom:50px;
    }

    .video-header{
        padding-top:30px;
    }

    .video-section{
        padding:0;
    }
}