
.yoga-header{
    text-align:left;
    line-height:1.3;
}


.yoga-header-text{
    padding-top:50px;
}

@media (max-width:991px){
    .yoga-section-left{
        text-align:center;
    }

    .yoga-header{
        text-align:center;
    }
}

@media(max-width:500px){
    .yoga-header{
        white-space:nowrap;
        font-size:45px;
    }
}