body{
    font-family: 'Open Sans', sans-serif;
    color: #484f5b;
    line-height:2;
    height:1500px;
}

a{
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration:none;
}

img{
    display:block;
    width:100%;
    height:auto;
}


.container-fluid {
    padding-top:60px;
    padding-bottom:60px;
}

.section-content {
    max-width:1500px;
    margin: 0 auto;
}

.section-header{
    font-size: 58px;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
}

.btn-default{
    display: inline-block;
    padding: 12px 6px;
    margin: 40px 0 20px;
    background-color: #e6c8c3;
    min-width:170px;
    border:0;
    text-transform: uppercase;
    font-weight:700;
    transition:0.5s;
    color: #484f5b;
    text-align:center;
}

.btn-default:hover{
    background-color: #b3d4fc;
    transition:0.5s;
    color:darkseagreen;
}

.button-default{
    text-align: center;
    padding-bottom:60px;
    padding-left:55px;
}




@media (max-width: 600px) {
    .mobile-section{
        display:flex;
    }

    .computer-section{
        display:none;
    }
}

@media (max-width: 406px) {
    .btn-default{
        margin-bottom:30px;
    }
}

@media (max-width:530px){
    .section-header{
        font-size:45px;
    }
}